.bg {
    &-white {
        background-color: white !important;

        @each $size, $level in $transparencies {

            &--#{$size} {
                background-color: rgba(white, $level) !important;
            }
        }
    }

    &-transparent {
        background-color: transparent !important;
    }

    &-size {

        &--cover {
            background-size: cover;
        }

        &--contain {
            background-size: contain;
        }
    }


    &-position {

        &--m {
            background-position: center;
        }

        &--tm {
            background-position: top center;
        }
    }

    &--no-repeat {
        background-repeat: no-repeat;
    }
}


#page-wrapper{
    --first-bg: 35%;
    &.both-bgs{
        position: relative;
        background: url('../img/pattern-gauche.png') left 35% no-repeat, url('../img/pattern-droite.png') right 115% no-repeat;

        @include media-breakpoint-down(md){
            background: none;
        }
    }

    &.one-bg{
        position: relative;
        background: url('../img/pattern-gauche.png') left 35% no-repeat;

        @include media-breakpoint-down(md){
            background: none;
        }
    }
}