.home{
    .projet{
        @include loop-card($uoh);
        height: 425px;
        width: 32%;
        margin-right: 2%;

        &:nth-of-type(3n+3){
            margin-right: 0;
        }

        @include media-breakpoint-down(md){
            width: 100%;
            margin-right: 0;
        }

        .image{
            height: 200px;
        }

        h3{
            font-size: 1.125rem;
        }

        p{
            font-size: .875rem;
        }
    }
}

#projets {
    background: url('../img/pattern-gauche.png') left top no-repeat;
    .projets {
        .projet {
            @include loop-card();
            height: 425px;
            width: 32%;
            margin-right: 2%;

            &:nth-of-type(3n+3) {
                margin-right: 0;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-right: 0;
            }

            .image {
                height: 200px;
            }

            h3 {
                font-size: 1.125rem;
                margin: 0 0 1.5rem !important;
            }

            p {
                font-size: .875rem;
            }
        }

        @include loop-card-color();
    }
}