.search-results {
    article {
        @include loop-card();
        height: auto;
        padding: 30px;

        a {
            text-decoration: none;
        }

    }

    @include loop-card-color();
}